<div id="container">
    <ul>
        <li>
            <button (click)="login()" class="google">
                <span class="icon-wrapper">
                    <img class="icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
                </span>
                <span class="text">Sign in with Google</span>
            </button>
        </li>
        <li>
            <button (click)="login()" class="facebook">
                <span class="icon-wrapper">
                    <img class="icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/facebook.svg">
                </span>
                <span class="text">Sign in with Facebook</span>
            </button>
        </li>
        
        <li>
            <button (click)="login()" class="twitter">
                <span class="icon-wrapper">
                    <img class="icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/twitter.svg">
                </span>
                <span class="text">Sign in with Twitter</span>
            </button>
        </li>
    </ul>
    
</div>
